*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background: #202735;
}

.nav-button{
  border-radius: 40px;
}

a{
  text-decoration: none;
}

p{
  margin-bottom: 0;
}

/* NavBar for Scroll */
.show{
  position: sticky;
}

.Do-not-show{
  display: none;
}

/* Slider movie banner nav */
.image-div{
  width: 100%;

  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center ;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.07);
  border-bottom-right-radius: 3vw; 
  border-bottom-left-radius: 3vw;
}

.gradiant{
  height: 100%;
  width: 100%;
  position: absolute;
  background-image:linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(1,42,74,1) 79%);
  border-radius: 30px;
}

.main-banner-text-div{
  position: absolute;
  height: 100%;
  width: 100%;
  padding-bottom: 10vw;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;

}

/* .slider-img{
  border-bottom-right-radius: 3vw; 
  border-bottom-left-radius: 3vw;
} */

.poster-linear-div{
  position: relative;
}

.poster-text{
  z-index: 10;
  position: absolute;
}


.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0,0,0,0.6587009803921569) 0%, rgba(1,22,38,0) 53%, rgba(0,0,0,0.7343312324929971) 100%) ;
  z-index: 1;
}

.image-overlay-left{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(0,0,0,0.7959558823529411) 16%, rgba(1,22,38,0) 100%);
  z-index: 3;
}

.poster-img {
  position: relative;
  z-index: 0;
}

.container-navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}



.main-banner-title-text{
  font-size: 4vw;
  width: 35vw;
  padding-left: 40px;
  margin: 0;
}

.main-banner-icon {
  stroke-width: 0.45; 
  transform: scale(0.9); 
  padding-right: 3px;
  width:30px; 
  height:30px;
  fill: #fca311
}   

.main-banner-rating-sapn{
  width: fit-content;
  /* height: 10px; */
  display: flex;
  /* justify-content: center;
  align-content: center; */
  align-items: center;
  margin-left: 40px;
  margin-top: 10px;
}

.main-banner-rating-num{
  margin-left: 0;
  margin-right: 10px;

}

.main-banner-play-btn{
  border-radius: 50px;
  height: 30px;
  width: 30px;
  background-color: #9b9b9b;
  margin-left: 40px;
    
}

.play-btn-icon {
  stroke-width: 0.45;
  transform: scale(0.6); 
  padding-right: 3px;
  width:30px; 
  height:30px;
  fill: #ffffff
} 

.let-play-movie-span{
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  font-size: 16px;
  color: #FFF;
}


/* Hide scrollbar */
.hide-scrollbar {
  overflow: auto; 
  scrollbar-width: none; 
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}


.btn-category-active {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.movies-container {
  display: flex;
  flex-direction: row;
  width: 200px;
  gap: 20px;
}

.card-img{
  border-radius: 20px;
  height: 250px;
  width: 200px;
}

.movie-card{
 
  padding: 0;
  border-radius: 20px;
  width: max-content;
}


/* Font css */
.lato-thin {
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .lato-light {
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .lato-regular {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-bold {
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .lato-black {
    font-family: "Lato", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .lato-thin-italic {
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .lato-light-italic {
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .lato-regular-italic {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .lato-bold-italic {
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .lato-black-italic {
    font-family: "Lato", serif;
    font-weight: 900;
    font-style: italic;
  }
  
/* Poppins font css */
.poppins-thin {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: italic;
}

